---
import "../styles/global.css"
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro"
const {frontmatter} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{ frontmatter.title }</title>
    <script src={import.meta.env.KIT} crossorigin="anonymous"></script>
    
</head>
<body>
    <style>

        .box {
            display : flex;
            justify-content : start;
            margin-left: 5rem;
            flex-direction : column;
        }
        .box-details {
            display : flex;
            flex-direction : column;
            align-items : start;
            margin-left: 5rem;
            margin-bottom : 1rem;
        }

        @media only screen and (max-width :600px) {
           .box {
                margin-left : .5rem;
            }
           .box-details {
                margin-left : .5rem;
            }
        }

        html {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <Nav siteName="EasewithTuts"/>
    
    <div class="box-details">
        <div style="margin-left:2.5rem">
            <img src={frontmatter.heroImage} width={300} height={200} class="center"/>
        </div>
        <h1>{frontmatter.title}</h1>
        <span>{frontmatter.author} · Posted on {frontmatter.date}</span>

    </div>
    <div class="box">
        <slot />
        <Footer />
    </div>
    
</body>
</html>
